<div class="drink-container">
    <p>
        Lemme show you some things in art of making drinks... just be careful, cause you know...
        this could be kinda dangerous...
    </p>
</div>

<h2>
    Here some drinks that you can start experimenting:
</h2>

<h3>
    (These are most famous in USA)
</h3>

<nav>
    <ul>
        <li> Caipirinha</li>
        <li> Tequila </li>
        <li> Catch-fire </li>
        <li> Cosmopolitan </li>
        <li> Hurricane </li>
        <li> Last Word </li>
        <li> Mai Tai </li>
        <li> Manhattan </li>
        <li> Mint Julep </li>
        <li> Penicilin </li>
    </ul>
</nav>

