<div class="play-container">
    <p>So... do you wanna become a pokemon master, don't you? Let's start the journey! </p>
</div>

<h2> 
    Before you get started, lemme give you some informations about Pokemons: They are categorized
    in generations and currently we are at 8th generation. So, below you can see of what generation this pokemon belong.
</h2>

<div class="generation-pokemon" id="first-generation">
    <h3> First generation:</h3>
    <nav>
        <ul>
            <li> Bulbasaur </li>
            <li> Ivysaur </li>
            <li> Venusaur </li>
            <li> Charmander </li>
            <li> Charmeleon </li>
            <li> Charizard </li>
            <li> Squirtle </li>
            <li> Wartortle </li>
            <li> Blastoise </li>
            <li> Caterpie </li>
            <li> Metapod </li>
            <li> Butterfree</li>
            <li> Weedle </li>
            <li> Kakuna </li>
            <li> Beedrill </li>
            <li> Pidgey </li>
            <li> Pidgeotto </li>
            <li> Pidgeot </li>
            <li> Rattata </li>
            <li> Raticate </li>
            <li> Spearow </li>
            <li> Fearow </li>
            <li> Ekans </li>
            <li> Arbok </li>
            <li> Pikachu </li>
            <li> Raichu </li>
            <li> Sandshrew </li>
            <li> Sandslash </li>
            <li> Nidoran (female)</li>
            <li> Nidorina </li>
            <li> Nidoqueen </li>
            <li> Nidoran (male) </li>
            <li> Nidorino </li>
            <li> Nidoking </li>
            <li> Clefairy </li>
            <li> Clefable </li>
            <li> Vulpix </li>
            <li> Ninetales </li>
            <li> </li>
        </ul> 
    </nav>
</div>